/* Produkt mand */

position: relative;
width: 393px;
height: 2422px;

background: #000000;


/* Frame 23 */

position: absolute;
width: 393px;
height: 532px;
left: 0px;
top: 93px;
overflow-x: scroll;



/* Group 22 */

position: absolute;
width: 802px;
height: 532px;
left: 0px;
top: 0px;



/* Billede */

position: absolute;
width: 393px;
height: 532px;
left: 0px;
top: 0px;

background: url(Man sweatshirt zalando grey.jpg);


/* Billede */

position: absolute;
width: 393px;
height: 532px;
left: 409px;
top: 0px;

background: url(Man sweatshirt zalando grey only.jpg);


/* Like 3 */

position: absolute;
width: 40px;
height: 35.9px;
right: -409px;
bottom: 496.1px;



/* Icon */

box-sizing: border-box;

position: absolute;
left: 7.81%;
right: 8.75%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #333333;


/* Like 2 */

position: absolute;
width: 40px;
height: 35.9px;
right: -1px;
bottom: 496.1px;



/* Icon */

box-sizing: border-box;

position: absolute;
left: 7.81%;
right: 8.75%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #333333;


/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 393px;
height: 61px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid #000000;


/* Group 2 */

position: absolute;
width: 25px;
height: 10px;
left: 35px;
top: 30px;



/* Line 7 */

position: absolute;
width: 25px;
height: 0px;
left: 35px;
top: 40px;

border: 1px solid #000000;


/* Line 7 */

position: absolute;
width: 25px;
height: 0px;
left: 35px;
top: 35px;

border: 1px solid #000000;


/* Line 7 */

position: absolute;
width: 25px;
height: 0px;
left: 35px;
top: 30px;

border: 1px solid #000000;


/* Rectangle 34 */

position: absolute;
width: 373px;
height: 24px;
left: 10px;
top: 65px;

background: #D9D9D9;
border-radius: 4px;


/* Mand -> Toppe */

position: absolute;
width: 72px;
height: 15px;
left: 18px;
top: 70px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* SWEATSHIRT - Long sleeve */

position: absolute;
width: 180px;
height: 19px;
left: 36px;
top: 485px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Tekst */

position: absolute;
width: 372px;
height: 297px;
left: 10px;
top: 1442px;

background: #FFFFFF;
border-radius: 20px;


/* Frame 22 */

position: absolute;
width: 371px;
height: 178px;
left: 22px;
top: 1525px;
overflow-x: scroll;



/* Billede */

box-sizing: border-box;

position: absolute;
width: 140.23px;
height: 178px;
left: 592.77px;
top: 0px;

background: url(Man tracksuit set zalando face);
border: 1px solid #000000;
border-radius: 32px;


/* Billede */

box-sizing: border-box;

position: absolute;
width: 140.23px;
height: 178px;
left: 293.94px;
top: 0px;

background: url(man tracksuit shorts grey);
border: 1px solid #000000;
border-radius: 32px;


/* Billede */

box-sizing: border-box;

position: absolute;
width: 140.23px;
height: 178px;
left: 443.35px;
top: 0px;

background: url(Sweat suits pinterest);
border: 1px solid #000000;
border-radius: 32px;


/* Billede */

box-sizing: border-box;

position: absolute;
width: 138px;
height: 178px;
left: 0px;
top: 0px;

background: url(sweatshirt blue);
border: 1px solid #000000;
border-radius: 32px;


/* Billede */

box-sizing: border-box;

position: absolute;
width: 138px;
height: 178px;
left: 147px;
top: 0px;

background: url(man tracksuit shorts dark grey only.jpg);
border: 1px solid #000000;
border-radius: 32px;


/* Lignende produkter: */

position: absolute;
width: 130px;
height: 19px;
left: 42px;
top: 1479px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Arrow 2 */

box-sizing: border-box;

position: absolute;
width: 1px;
height: 0px;
left: 367px;
top: 375px;

border: 2px solid #000000;


/* TRUSTPILOT ★★★★★ "Behageligt tøj at gå i!" ★★★★★ "Jeg er meget glad for mine joggingbukser" ★★★★★ "God kvalitet til rimelige priser!" */

position: absolute;
width: 309.11px;
height: 252px;
left: 42.7px;
top: 1799px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-align: center;

color: #FFFFFF;



/* 2024 - Grey wolf face icon - Denice Busk Nielsen 1 */

position: absolute;
width: 27.96px;
height: 34.23px;
left: 180.04px;
top: 16.01px;

background: url(2024 - Grey wolf face icon - Denice Busk Nielsen.png);


/* Tekst */

box-sizing: border-box;

position: absolute;
width: 393px;
height: 297px;
left: 0px;
top: 532px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 20px;


/* Rectangle 64 */

position: absolute;
width: 29.92px;
height: 20.1px;
left: 113.86px;
top: 622.85px;

background: #D9D9D9;
border-radius: 5px;


/* Rectangle 65 */

position: absolute;
width: 29.92px;
height: 20.1px;
left: 146.61px;
top: 622.85px;

background: #D9D9D9;
border-radius: 5px;


/* Rectangle 66 */

position: absolute;
width: 29.92px;
height: 20.1px;
left: 179.36px;
top: 622.85px;

background: #D9D9D9;
border-radius: 5px;


/* Rectangle 67 */

position: absolute;
width: 29.92px;
height: 20.1px;
left: 212.11px;
top: 622.85px;

background: #D9D9D9;
border-radius: 5px;


/* Rectangle 68 */

position: absolute;
width: 29.92px;
height: 20.1px;
left: 244.61px;
top: 622.85px;

background: #D9D9D9;
border-radius: 5px;


/* STØRRELSE */

position: absolute;
width: 67px;
height: 16px;
left: 39.19px;
top: 624.9px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #000000;



/* FARVE */

position: absolute;
width: 36px;
height: 16px;
left: 70.19px;
top: 663.4px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #000000;



/* Sweatshirt - long sleeve */

position: absolute;
width: 149px;
height: 19px;
left: 74.61px;
top: 566.4px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Rectangle 71 */

position: absolute;
width: 291px;
height: 73.34px;
left: 51.19px;
top: 729.23px;

background: #C16831;
border-radius: 17px;


/* Læg i kurv */

position: absolute;
width: 94px;
height: 27px;
left: 149.69px;
top: 753.6px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
/* identical to box height */

color: #000000;



/* 230 kr */

position: absolute;
width: 33px;
height: 16px;
left: 175.03px;
top: 591.9px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #000000;



/* XS */

position: absolute;
width: 13px;
height: 15px;
left: 121.81px;
top: 625.4px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* S */

position: absolute;
width: 6px;
height: 15px;
left: 158.57px;
top: 625.4px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* M */

position: absolute;
width: 10px;
height: 15px;
left: 189.32px;
top: 625.4px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* L */

position: absolute;
width: 7px;
height: 15px;
left: 223.94px;
top: 625.4px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* XL */

position: absolute;
width: 14px;
height: 15px;
left: 253.82px;
top: 625.4px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* ORGANIC COTTON */

position: absolute;
width: 96px;
height: 13px;
left: 234.08px;
top: 570.4px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 10px;
line-height: 13px;

color: #000000;



/* Shape with text */

position: absolute;
width: 22.79px;
height: 22.79px;
left: 125.82px;
top: 660.01px;



/* Shape */

position: absolute;
width: 22.79px;
height: 22.79px;
left: 0px;
top: 0px;

background: #C9C9CB;
border-radius: 3px;


/* Text */

position: absolute;
width: 16px;
height: 16.23px;
left: 3.4px;
top: 2.88px;




/* Shape with text */

position: absolute;
width: 22.79px;
height: 22.79px;
left: 154.31px;
top: 660.01px;



/* Shape */

position: absolute;
width: 22.79px;
height: 22.79px;
left: 0px;
top: 0px;

background: #575556;
border-radius: 3px;


/* Text */

position: absolute;
width: 16px;
height: 16.23px;
left: 3.4px;
top: 2.88px;




/* Shape with text */

position: absolute;
width: 22.79px;
height: 22.79px;
left: 182.8px;
top: 660.01px;



/* Shape */

position: absolute;
width: 22.79px;
height: 22.79px;
left: 0px;
top: 0px;

background: #0E5084;
border-radius: 3px;


/* Text */

position: absolute;
width: 16px;
height: 16.23px;
left: 3.4px;
top: 2.88px;




/* Shape with text */

position: absolute;
width: 22.79px;
height: 22.79px;
left: 211.29px;
top: 660.01px;



/* Shape */

position: absolute;
width: 22.79px;
height: 22.79px;
left: 0px;
top: 0px;

background: #F3F3F3;
border-radius: 3px;


/* Text */

position: absolute;
width: 16px;
height: 16.23px;
left: 3.4px;
top: 2.88px;




/* Shape with text */

position: absolute;
width: 22.79px;
height: 22.79px;
left: 239.78px;
top: 660.01px;



/* Shape */

position: absolute;
width: 22.79px;
height: 22.79px;
left: 0px;
top: 0px;

background: #F5DB8D;
border-radius: 3px;


/* Text */

position: absolute;
width: 16px;
height: 16.23px;
left: 3.4px;
top: 2.88px;




/* Footter */

position: absolute;
width: 393.5px;
height: 275.47px;
left: 0px;
top: 2147px;

background: #FFFFFF;


/* Rectangle 42 */

position: absolute;
width: 303px;
height: 32px;
left: 45.57px;
top: 2251.61px;

background: #D9D9D9;
border-radius: 21px;


/* Bag om Grey Wolf */

position: absolute;
width: 127px;
height: 21px;
left: 80.57px;
top: 2257.11px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-align: center;

color: #000000;



/* Arrow 9 */

box-sizing: border-box;

position: absolute;
width: 1px;
height: 0px;
left: 65.57px;
top: 2267.61px;

border: 2px solid #000000;


/* Rectangle 43 */

position: absolute;
width: 303px;
height: 32px;
left: 45.57px;
top: 2294.61px;

background: #D9D9D9;
border-radius: 21px;


/* Kontakt Os */

position: absolute;
width: 80px;
height: 21px;
left: 80.57px;
top: 2299.61px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-align: center;

color: #000000;



/* Arrow 10 */

box-sizing: border-box;

position: absolute;
width: 1px;
height: 0px;
left: 65.57px;
top: 2310.61px;

border: 2px solid #000000;


/* Frame */

position: absolute;
width: 225px;
height: 41px;
left: 85.5px;
top: 2181.64px;



/* 2024 - Grey wolf logo text and icon - Denice Busk Nielsen 3 */

position: absolute;
left: 21.52%;
right: 21.23%;
top: 90.08%;
bottom: 8.24%;

background: url(2024 - Grey wolf logo text and icon - Denice Busk Nielsen.png);


/* TikTok */

position: absolute;
width: 49px;
height: 62px;
left: 221.57px;
top: 2342.61px;

background: url(.png);


/* Facebook */

position: absolute;
width: 49px;
height: 62px;
left: 123.57px;
top: 2342.61px;

background: url(.png);


/* Instagram */

position: absolute;
width: 49px;
height: 62px;
left: 172.57px;
top: 2342.61px;

background: url(.png);


/* Tekst */

position: absolute;
width: 372px;
height: 297px;
left: 11px;
top: 864px;

background: #FFFFFF;
border-radius: 20px;


/* Tekst */

position: absolute;
width: 372px;
height: 215.65px;
left: 11px;
top: 1173px;

background: #FFFFFF;
border-radius: 20px;


/* Leveringsinformation */

position: absolute;
width: 161px;
height: 21px;
left: 43px;
top: 894.5px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;

color: #000000;



/* Man 14 okt */

position: absolute;
width: 67px;
height: 19px;
left: 43px;
top: 938px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* 49,00 kr. */

position: absolute;
width: 55px;
height: 19px;
left: 299.98px;
top: 957.37px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Standard levering */

position: absolute;
width: 111px;
height: 19px;
left: 43px;
top: 961px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Gratis fragt ved køb over 299 kr. */

position: absolute;
width: 170px;
height: 16px;
left: 43px;
top: 1004.5px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #000000;



/* Information om produktet */

position: absolute;
width: 166px;
height: 19px;
left: 43px;
top: 1210px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Rectangle 72 */

position: absolute;
width: 330px;
height: 37px;
left: 31px;
top: 1247px;

background: #D9D9D9;


/* Rectangle 73 */

position: absolute;
width: 330px;
height: 37px;
left: 31px;
top: 1295px;

background: #D9D9D9;
border-radius: 18.5px;


/* Materiale og vaskeanvisning */

position: absolute;
width: 176px;
height: 19px;
left: 46px;
top: 1256px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Se hvad du kan omdanne denne trøje til */

position: absolute;
width: 248px;
height: 19px;
left: 46px;
top: 1302px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Arrow 11 */

box-sizing: border-box;

position: absolute;
width: 1px;
height: 0px;
left: 334px;
top: 1271px;

border: 2px solid #000000;
transform: rotate(90deg);


/* packing-clothes1 1 */

position: absolute;
width: 161px;
height: 106.04px;
left: 43px;
top: 1030.48px;

background: url(packing-clothes1.jpg);
border-radius: 9.95697px;


/* Line 23 */

position: absolute;
width: 339.37px;
height: 0px;
left: 26.97px;
top: 983.67px;

border: 1px solid #000000;


/* van_17037238 2 */

position: absolute;
width: 47px;
height: 47px;
left: 314px;
top: 881.5px;

background: url(van_17037238.png);


/* Basket */

box-sizing: border-box;

position: absolute;
width: 67px;
height: 161px;
left: 208px;
top: -265px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Basket=Basket3 */

position: absolute;
width: 27px;
height: 27px;
left: 20px;
top: 121px;



/* Basket */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(.png);


/* Basket=Kurv 1 */

position: absolute;
width: 27px;
height: 27px;
left: 20px;
top: 67px;



/* Basket */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(.png);


/* Ellipse 128 */

position: absolute;
width: 16px;
height: 18px;
left: 16px;
top: -1px;

background: #C16831;


/* Ellipse 129 */

position: absolute;
width: 16px;
height: 18px;
left: 14px;
top: 47px;

background: #C16831;


/* 2 */

position: absolute;
left: 66.67%;
right: -3.7%;
top: 140.74%;
bottom: -88.89%;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #FFFFFF;



/* 1 */

position: absolute;
left: 74.07%;
right: -11.11%;
top: -33.33%;
bottom: 85.19%;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #FFFFFF;



/* Basket=kurv 0 */

position: absolute;
width: 27px;
height: 27px;
left: 20px;
top: 20px;



/* Basket */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(.png);
